package src

templ AboutTempl() {
    <div class="person prouk">
        <img class="image" src="https://avatars.githubusercontent.com/u/21678081"></img>
        <div desc="desc">
            <h2>TAHON Valentin</h2>
            <p>
                Elitist developer,
            </p>
        </div>
    </div>
    <div class="person chanours">
        <img class="image" src="https://avatars.githubusercontent.com/u/39670936"></img>
        <div desc="desc">
        </div>
    </div>
}